:root{
	box-sizing: border-box;
}
*, ::before, ::after{
	box-sizing: inherit;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr .5fr;
	grid-gap: 0.5em;
}

.grid>*{
	padding: 2em;
	border-radius: .5px;
	background-color: rgb(65, 34, 52);
	color: rgb(180, 159, 204)
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img{
    width: 30%;
}

header{
	grid-column: 1/3;
	grid-row: 1;
	text-align: center;
}

.itemOne{
	grid-column: 1/2;
	grid-row: 2;
	text-align: center;
}

.itemTwo{
	grid-column: 2/3;
	grid-row: 2;
	text-align: center;
}

.itemThree{
	grid-column: 1/2;
	grid-row: 3;
	text-align: center;
}

.itemFour{
	grid-column: 2/3;
	grid-row: 3;
	text-align: center;
}

.itemFive{
	grid-column: 1/2;
	grid-row: 4;
	text-align: center;
}

.itemSix{
	grid-column: 2/3;
	grid-row: 4;
	text-align: center;
}

.itemSeven{
	grid-column: 1/2;
	grid-row: 5;
	text-align: center;
}

.itemEight{
	grid-column: 2/3;
	grid-row: 5;
	text-align: center;
}

.itemNine{
	grid-column: 1/2;
	grid-row: 6;
	text-align: center;
}

.itemTen{
	grid-column: 2/3;
	grid-row: 6;
	text-align: center;
}

footer{
	grid-column: 1/3;
	grid-row: 7;
	text-align: center;
}



h1{
	color: rgb(180, 159, 204);
}

